<!DOCTYPE html>
<html lang="en">
<head>
  <title>The Rose Beauty</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link href="https://fonts.googleapis.com/css2?family=Pacifico&display=swap" rel="stylesheet">

  <!--List of icons https://material.io/resources/icons/?style=baseline -->
  <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Material+Icons" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.3.8/dist/vuetify.min.css" rel="stylesheet">  
  <link href="./main.css" rel="stylesheet">
  
</head>
<body>

  <template id="section-divider-template">
    <v-row justify="center">
      <v-img
        max-width="100"
        xclass="white--text align-end"
        xstyle="width: 100px"
        xheight="200px"
        src="images/divider-rose.png">
      </v-img>
    </v-row>
  </template>


  <template id="about-template">
    <v-container fluid grid-list-xl>
      <v-layout>
        <v-flex>
          <h1>About</h1>
          <p>This is about.</p>
        </v-flex>
      </v-layout>
    </v-container>
  </template>

  <!-- 
    System requrement
    Calendar/time
    Packages/fees
  -->

  <template id="home-template">
    <v-container fluid grid-list-xl>
      <v-layout>
        <v-flex style="padding: 0px">
          <v-parallax 
            jumbotron class="parallax" src="images/banner.jpeg">
            <h1 class="banner-title">The Rose Beauty</h1>
            <h1 class="banner-sub-title">Get Beautified!</h1>
          </v-parallax>


          <section-divider></section-divider>


          <!-- <v-row justify="center">
            <v-img
              max-width="100"
              xclass="white--text align-end"
              xstyle="width: 100px"
              xheight="200px"
              src="images/temp/divider-rose-7.png">
            </v-img>
          </v-row> -->

          <v-row Xno-gutters Xfluid>
            <v-col Xcols="3" Xmd="4" Xxs="12" class="mt-10 mb-10">
              <v-card class="mx-auto" max-width="400">
                <v-img
                  class="white--text align-end"
                  height="200px"
                  src="images/card-1.jpg">
                </v-img>
            
                <!-- <v-card-subtitle class="pb-0">Number 10</v-card-subtitle> -->
                <v-card-title class="service-desc-title-txt">
                  Mehendi/Heena
                </v-card-title>
          
                <v-card-text class="text--primary service-desc-txt">
                  <div>
                    Highly experienced professional henna (mehndi) artist. Available for corporate events, weddings, functions, festivals, exhibitions and all special occasions. Individual and group bookings. I am specialized in traditional Indian bridal mehandi with over 30 years of experience. Known for very unique and elegant mehandi designs. 
                    <!-- I create design based on traditional Indian mehandi pattern, Arabic and latest designs. I prepare mehndi paste using natural mehandi powder.  -->

                  </div>
                </v-card-text>
            
                <!-- <v-card-actions>
                  <v-btn color="orange" text>Share</v-btn>
                </v-card-actions> -->
              </v-card>
            </v-col>

            <v-col Xcols="3" Xmd="4"  Xxs="12" class="mt-10 mb-10">
              <v-card class="mx-auto" max-width="400">
                <v-img
                  class="white--text align-end"
                  height="200px"
                  src="images/card-2.jpg">
                </v-img>
                <v-card-title class="service-desc-title-txt">
                  Makeup 
                </v-card-title>
                <v-card-text class="text--primary service-desc-txt">
                  <div>
                    <!-- If you are the bride-to-be, booking with The Rose Beauty for your big day is one of the best things you can do for yourself. She makes sure that a look for you is carefully planned and put together to enhance your unique beauty. -->

                    Whether it's a wedding, party, engagement, nikaah, sangeet night, fashion show, glamour shoot or portfolio shoot - Rose Beauty will endeavour to get you the look.

                    Rose Beauty will provide a dedicated and unique service which encompasses a complete and bespoke consultation.




                  </div>
                </v-card-text>
              </v-card>
            </v-col>

            <v-col Xcols="3" Xmd="4"  Xxs="12" class="mt-10 mb-10">
              <v-card class="mx-auto" max-width="400">
                <v-img
                  class="white--text align-end"
                  height="200px"
                  src="images/card-3.jpg">
                </v-img>
                <v-card-title class="service-desc-title-txt text-center">
                  Hairstyle
                </v-card-title>
                <v-card-text class="text--primary service-desc-txt">
                  <div>
                    From the array of Indian/Asian hairstyles at our disposal, you are sure to get the perfect indian bridal hairstyle for your wedding. Whether you are looking for indian hairstyles for long hair or short hair, updo hairstyles or braids, or stylish messy hairstyles, you can be confident bride knowing a highly experienced hairstylist is doing your hair.                    
                  </div>
                </v-card-text>
              </v-card>
            </v-col>
          </v-row>

          <section-divider></section-divider>

          <v-row id="price-list" Xalign="center" justify="center">
            <v-card class="ma-3 pa-6">
              <v-card-title class="service-desc-title-txt text-center">
                Threading
              </v-card-title>
              <v-card-text align="center" justify="center" class="text--primary payment-plan-txt">
                <table cellpadding="10" cellspacing="10" class="price-table">
                  <tr class="a">
                    <td>Eyebrow</td>
                    <td>5.00</td>
                  </tr>
                  <tr class="b">
                    <td>Upper Lips</td>
                    <td>2.00</td>
                  </tr>
                  <tr class="a">
                    <td>Forehead</td>
                    <td>3.00</td>
                  </tr>
                  <tr class="b">
                    <td>Chin</td>
                    <td>3.00</td>
                  </tr>
                  <tr class="a">
                    <td>Full Face Threading starts from</td>
                    <td>20.00</td>
                  </tr>
                </table>
              </v-card-text>
            </v-card>
      
            <v-card class="ma-3 pa-6">
              <v-card-title class="service-desc-title-txt text-center">
                Waxing
              </v-card-title>
              <v-card-text align="center" justify="center" class="text--primary payment-plan-txt">
                <table cellpadding="10" cellspacing="10" class="price-table">
                  <tr class="a">
                    <td>Full Face</td>
                    <td>20.00</td>
                  </tr>
                  <tr class="b">
                    <td>Hand (half)</td>
                    <td>15.00</td>
                  </tr>
                  <tr class="a">
                    <td>Hand (full)</td>
                    <td>25.00</td>
                  </tr>
                  <tr class="b">
                    <td>Leg (half)</td>
                    <td>25.00</td>
                  </tr>
                  <tr class="a">
                    <td>Leg (full)</td>
                    <td>35.00</td>
                  </tr>
                  <tr class="b">
                    <td>Under Arms</td>
                    <td>10.00</td>
                  </tr>
                </table>
              </v-card-text>
            </v-card>
      
            <v-card class="ma-3 pa-6">
              <v-card-title class="service-desc-title-txt text-center">
                Bridal/Party
              </v-card-title>
              <v-card-text align="center" justify="center" class="text--primary payment-plan-txt">
                <table cellpadding="10" cellspacing="10" class="price-table">
                  <tr class="a">
                    <td>Mehndi (Hand & Legs - Both sides)</td>
                    <td>Starting from 99.00 and up</td>
                  </tr>
                  
                  <tr class="b">
                    <td>Makeup + Hair Style (Full ready bride)</td>
                    <td>300.00</td>
                  </tr>
                  <tr class="b">
                    <td>Makeup + Hair Style (Airbrush, full ready bride)</td>
                    <td>350.00</td>
                  </tr>
                  <tr class="a">
                    <td>Bridesmaid/Party Makeup</td>
                    <td>75.00</td>
                  </tr>
                  <tr class="a">
                    <td>Bridesmaid/Party Hair Style</td>
                    <td>25.00 to 65.00</td>
                  </tr>
                  <tr class="a">
                    <td>Bridesmaid/Party Makeup + Hair Style</td>
                    <td>99.00</td>
                  </tr>
                  <tr class="a">
                    <td>Bridesmaid/Party Makeup + Hair Style (Airbrush)</td>
                    <td>130.00</td>
                  </tr>
                  
                  <tr class="b">
                    <td>Non-Bride Mehndi (one hand one side)</td>
                    <td>Starting from 6.00<br/>to 10.00</td>
                  </tr>
                </table>
              </v-card-text>
            </v-card>
      
      
            <v-card class="ma-3 pa-6">
              <v-card-title class="service-desc-title-txt text-center">
                Others
              </v-card-title>
              <v-card-text align="center" justify="center" class="text--primary payment-plan-txt">
                <table cellpadding="10" cellspacing="10" class="price-table">
                  <tr class="b">
                    <td>Facial (fruit)</td>
                    <td>30.00</td>
                  </tr>
                  <tr class="a">
                    <td>Facial (Sahanaz Hussain Gold)</td>
                    <td>40.00</td>
                  </tr>
                  <tr class="b">
                    <td>Facial (Sahanaz Hussain Pearl)</td>
                    <td>45.00</td>
                  </tr>
                  <tr class="b">
                    <td>Facial (Sahanaz Hussain Siver)</td>
                    <td>45.00</td>
                  </tr>
                  <tr class="b">
                    <td>Facial (Sahanaz Hussain Diamond)</td>
                    <td>45.00</td>
                  </tr>
                  <tr class="a">
                    <td>Bleach</td>
                    <td>10.00</td>
                  </tr>
                  <tr class="a">
                    <td>Mehndi Cones</td>
                    <td>4.00</td>
                  </tr>
                </table>
              </v-card-text>
            </v-card>
      
          </v-row>          

          <section-divider></section-divider>

          <v-row id="contact-us">
            <v-col>
              <v-row align="center" justify="center">
                <v-card class="ma-1 pa-2"  tile>
                  <v-card-title class="service-desc-title-txt text-center">
                    Contact us:
                  </v-card-title>
                  <v-card-text class="text--primary">
                    <h3>Phone: 510-471-7132</h3>
                    <h3>Email: therosebeauty@gmail.com</h3>
                    <h3>Instagram: https://www.instagram.com/therosebeauty.fremont/</h3>
                    <h3>Location: Fremont, CA (near Warwich School)</h3>
                  </v-card-text>
                </v-card>
              </v-row>
            </v-col>    
          </v-row>

          <section-divider></section-divider>

          <v-row id="gallery" Xalign="center" justify="center">
            <h3>Gallery:</h3>
            Coming soon...
          </v-row>


<!-- 

          <v-row>
            <v-col cols="12" Xsm="6" Xoffset-sm="3"  class="mt-md-10 mb-md-10">
              <h2 class="ml-3">Students art gallery</h2>
              <v-card>
                <v-container fluid>
                  <v-row>
                    <v-col
                      v-for="n in this.state.gallery.studentsWork.length"
                      :key="n"
                      class="d-flex child-flex"
                      Xcols="2"
                    >
                      <v-card flat tile class="d-flex" style="max-width: 200px;">
                        <v-img
                          :src="getStudentsWorkImage(n)"
                          :lazy-src="getStudentsWorkImage(n)"
                          Xaspect-ratio="1"
                          class="grey lighten-2 my-work-img"
                          @click.stop="showStudentsWorkImage(n)"
                        >
                          <template v-slot:placeholder>
                            <v-row
                              class="fill-height ma-0"
                              align="center"
                              justify="center"
                            >
                              <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                            </v-row>
                          </template>
                        </v-img>
                      </v-card>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-col>
          </v-row>

          <v-row>
            <v-col cols="12" Xsm="6" Xoffset-sm="3"  class="mt-md-10 mb-md-10">
              <h2 class="ml-3">My art gallery</h2>
              <v-card>
                <v-container fluid>
                  <v-row>
                    <v-col
                      v-for="n in this.state.gallery.myWork.length"
                      :key="n"
                      class="d-flex child-flex"
                      Xcols="2"
                    >
                      <v-card flat tile class="d-flex" style="max-width: 200px;">
                        <v-img
                          :src="getMyWorkImage(n)"
                          :lazy-src="getMyWorkImage(n)"
                          Xaspect-ratio="1"
                          class="grey lighten-2 my-work-img"
                          @click.stop="showMyWorkImage(n)"
                        >
                          <template v-slot:placeholder>
                            <v-row
                              class="fill-height ma-0"
                              align="center"
                              justify="center"
                            >
                              <v-progress-circular indeterminate color="grey lighten-5"></v-progress-circular>
                            </v-row>
                          </template>
                        </v-img>
                      </v-card>
                    </v-col>
                  </v-row>
                </v-container>
              </v-card>
            </v-col>
          </v-row>

          <v-dialog v-model="galleryDialog" max-width="800">
            <v-card>
              <v-btn absolute fab top right color="red"
              class="mt-10" @click="galleryDialog = false">
              <v-icon>mdi-close</v-icon>
            </v-btn>
              <v-img @click="galleryDialog = false" :src="selectedWorkImageFile"></v-img>
            </v-card>
          </v-dialog>
 -->



        </v-flex>
      </v-layout>
    </v-container>
  </template>


  
  <div id="app">
    <v-app>

      <v-app-bar app Xinverted-scroll Xcolor="transparent" v-cloak>
        <img id="app-bar-logo" style="width: 2-px;" src="images/logo-1.png"></img>
        <v-toolbar-title>
          <router-link class="toolbar-title" to="/">
            The Rose Beauty</router-link>
        </v-toolbar-title>
        <v-spacer></v-spacer>
        <v-toolbar-items Xclass="ma-0 pa-0">
          <v-btn @click="$vuetify.goTo('#gallery')" rounded color="error" dark>See what we do</v-btn>
          <v-btn @click="$vuetify.goTo('#price-list')" rounded color="error" dark>Services and price</v-btn>
          <v-btn @click="$vuetify.goTo('#contact-us')" rounded color="error" dark>Contact</v-btn>
        </v-toolbar-items>
        <!-- <v-btn to="/about" icon>
          <v-icon>info</v-icon>
        </v-btn> -->
      </v-app-bar>

      <v-main>
        <router-view></router-view>
      </v-main>

      <v-btn v-scroll="onScroll" v-show="fab" v-cloak
        fab dark fixed bottom right color="primary" 
        @click="toTop">
        <v-icon>keyboard_arrow_up</v-icon>
      </v-btn>      

      <v-footer  class="font-weight-medium" v-cloak>
        <v-col class="text-center"cols="12">
          {{ new Date().getFullYear() }} — <strong>The Rose Beauty</strong>
        </v-col>
      </v-footer>

    </v-app>
  </div>  

  <script src="https://cdn.jsdelivr.net/npm/vue@2.6.12"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.3.10/dist/vuetify.min.js"></script>
  <!-- <script type="module"  src="https://cdn.jsdelivr.net/npm/vuetify@2.3.10/lib/util/colorUtils.js"></script> -->
  <!-- https://cdn.jsdelivr.net/npm/vuetify@2.3.10/lib/util/colorUtils.js -->
  <script src="https://cdn.jsdelivr.net/npm/vue-router@3.4.3/dist/vue-router.min.js"></script>
  <script src='main.js'></script>
</body>
</html>


<!-- 
Sample reviews:
It was a very good experience, she is very talented and professional, she made me look exactly like my dream makeup for the wedding day.
Reviewed By: Amrin
12 Jul 2016

I am a fan of subtle makeup even for your wedding day, my look was really similar but I had a bold lip. I love this look. 
Reviewed By: Amrin
12 Jul 2016

"Thank you so much for doing my hair and makeup for both my baraat and walima. Everyone simply loved my looks. I am ever so glad i booked you as my Bridal Makeup Artist. I still get compliments on how i stunning looked."

"Thank you for being part of our wedding celebrations and for working your magic on me during the wedding for the events in Italy. You were an absolute pleasure to be around and always made me feel so calm. Despite the intense heat and the wedding stress, you transformed me into a dream bride and i can't thank you enough for this! I will always look back on fond memories in Italy and you were a big part of it. Wishing you all the best. Lots of Love!"


"Annie! you are wonderful! You made me feel like a princess on my wedding day. You were so friendly and attentive to all my needs. Thank you so much. Highly recommended."


“Thank you so much for working your magic on me for my various events in London and then my dream destination wedding in Switzerland. You were absolutely phenomenal and exceeded my expectations for each and every look."


"Thank you so much for doing my hair and makeup for all my events including engagement, mehndi, baraat and walima. Everyone simply loved all my looks. My pictures came out absolutely stunning. I have recommended you to tons of my friends. "


“Annie made my Sabyasachi outfit come to life with her brilliant hair and makeup and immaculate draping of the two dupattas. It was a great decision on my part to book Annie for my Big day and indeed my pictures and videos circulating on social media are a testament to her great work. “


"Annie! you were absolutely amazing at my daughter Nida's wedding in July, 2019. Makeup was absolutely beautiful on all 3 days i.e Mehndi, Baraat and Walima and everyone wanted to know who the makeup artist was! You did a wonderful job. Thank you so much. Highly recommeded!"

“Thank you for doing my hair and makeup for my destination wedding in Mauritius. Everyone loved all the beautiful looks you created for me.“

''Radha did my hair and makeup on my wedding day 5th December. She is very friendly, reliable, punctual, patient and does her job with a huge smile on her face. She is an absolute joy to work with. 




Sample text:
Radha finds working with brides-to-be the most exciting, rewarding and exhilarating job. Radha's talent for cutting edge make-up and hair style and creativity has grown from strength to strength since she has been in the industry. Radha put's her heart and soul into providing the best service for her clients. Her down to earth approach puts you at ease and gives you the confidence that you are in safe hands.

I pride myself on making dreams come true, offering a friendly customer service teamed with extensive beauty knowledge and above all, providing a professional and creative eye that can pull a concept together. Whatever your desires, I have the skill set required to make it happen!




-->